.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.active {
    color: mediumvioletred;
}

.dialog a {
    text-decoration: none;
}

.messages {
    grid-column: 2/3;
    padding: 10px;
}
