.nav {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: yellowgreen;
}

.item {
    list-style-type: none;
    font-size: 30px;
}

.item :hover {
    color: blueviolet;
}

.item a {
    color: mediumvioletred;
    text-decoration: none;
}

.item a.active {
    color: blue;
}

